{% extends "base.html" %}
{% load staticfiles %}
{% load sark_extras %}
{% block header_material %}
    <link type="text/css" rel="stylesheet" href="{% static 'js/soundmanager2/bar-ui/css/bar-ui.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/sm2-bar-ui.css' %}"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
          <div class="broadcast-header sticky-component">
            <h3>Broadcast for {{ show.date }}</h3>
            <p class="description"><em>{{ show.description }}</em> </p>
            <hr>
          </div>
          {% include "broadcast/scripts.html" %}
          <hr>
        </div>
        <div class="col-md-2">
          {% include "broadcast/sidebar.html" %}
        </div>
    </div>
    {% if show.completeness == "Bronze" %}
        <div>No audio exists for broadcast</div>
    {% elif broadcast.is_copyright_protected %}
      <div>Audio unavailable due to copyright</div>
    {% else %}
        {% include "audiobar.html" %}
    {% endif %}

    {% block footer %}
      <!-- overridden -->
    {% endblock %}
{% endblock %}

{% block bottom-content %}
  <script src="{% static 'js/soundmanager2/soundmanager2.min.js' %}"></script>
  <script src="{% static 'js/soundmanager2/bar-ui/script/bar-ui.js' %}"></script>
  <script src="{% static 'js/blazy.min.js' %}"></script>

  <script>
    (function() {
      // Initialize lazy image loader
      var bLazy = new Blazy();
    })()
  </script>
{% endblock %}