{% load staticfiles %}

{% for script_page in script_pages %}
  <a href="{% static 'img/' %}{{ script_page.file.name }}" target="_blank">
    <img
      class="script-image b-lazy"
      src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
      data-src="{% static script_page.file.name %}"
      alt="{{ script_page.description }}"
      width="100%"
    />
  </a>
{% empty %}
  <img
    class="script-image b-lazy"
    src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
    data-src="{% static 'img/gold-program-cover.jpg'%}"
    alt="Photo of Leo Sarkisian in his studio preparing the first Music Time in Africa program for broadcast"
    width="90%"
  />
  <hr />
  <div>No program scripts available for this broadcast</div>
{% endfor %}