{% load sark_extras %}

<div class="affix broadcast-sidebar">
  <h3>Hosts</h3>
  <ul>
    <li>
      <a href="{% url 'haystack_search' %}?selected_facets=host_exact:{{ show.host.name }}" target="_blank">{{ show.host.name }}</a>
    </li>
  </ul>
  <h3>Performers</h3>
  <ul>
    {% for performer in performers %}
      <li><a href="{% url 'agent' performer.name %}" target="_blank">{{ performer }}</a></li>
    {% empty %}
      <li>Unknown</li>
    {% endfor %}
  </ul>
  <h3>Locations</h3>
  <ul>
    {% for location in broadcast.normalized_locations.all %}
      <li>
        {% if location.city %}
          <a href="{% url 'location' location.city location.country %}" target="_blank">{{ location }}</a>
        {% else %}
          <a href="{% url 'location' "" location.country %}" target="_blank">{{ location }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <h3>Completeness</h3>
  <ul>
    <li>{{ show.completeness|completeness }}</li>
  </ul>
</div>