{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row about-content" data-spy="scroll" data-target="#navbar-example" id="about-content">
        <div class="col-md-9">
            <h1 id="VoA">Voice of America</h1>

            <div>
                <p>Established in 1942 to help counter Nazi radio propaganda abroad, the Voice of America program quickly
                    grew over the course of the war to provide shortwave broadcasts in over 40 languages.
                    Primarily a news service, the stations also played over 1,000 specialized programs, often including
                    music and commentary.</p>

                <p>Responsibility for the program transferred first to the State Department in 1945, and then to the U.S. Information
                    Agency in 1953. As the end of the second World War ushered in a much longer Cold War, the Voice of America found
                    continued life in countering Soviet propaganda across Africa and Eurasia with that of its own, with an
                    emphasis on nations behind the Iron Curtain. Often the VOA’s most popular and influential programs were not news but
                    music shows, particularly those featuring American jazz musicians. Historians credit programs such
                    as “Music USA”—a two-hour daily broadcast of jazz and pop music—with popularizing jazz outside the
                    U.S., particularly in Soviet nations.</p>

                <p>Now administered by the Broadcasting Board of Governors, the Voice of America continues to broadcast
                    to countries around the world. VOA has reduced its number of stations in the past decade,
                    eliminating many of its services to Asia and Europe due to budget cuts and shifting diplomatic
                    priorities. Its influence in perceptions of the United States abroad cannot be understated</p>
            </div>
            <br>

            <h1 id="MTiA">Leo Sarkisian & Music Time in Africa</h1>

            <div>
                <p>Leo Sarkisian is a remarkable man: an Armenian-American artist and music lover from Lawrence,
                    Massachusetts who became a globetrotting musicologist, world-class recordist, and musical ambassador
                    to millions.</p>

                <p>Leo began his professional life in the visual arts. He studied at the Vesper George School of Art,
                    drew battlefield maps for the U.S. Army during the Second World War, and afterwards worked as a
                    freelance illustrator in New York City. But he spent his free time studying the folk and ethnic
                    music he loved, and wrote a paper on the subject that brought him to the attention of Irving Fogel,
                    head of Tempo Records. Fogel hired Sarkisian, provided him with extensive technical training, and
                    in the early 50s sent him to record traditional ethnic music in Central Asia and Africa, a task Leo
                    would perform with gusto throughout the decade. From 1953 to 1963 Leo made extensive recording
                    excursions deep into Afghanistan, Pakistan, Ghana, and New Guinea, sending dozens of reels back to
                    the Tempo Records offices for eventual publication on LP records.</p>

                <p>Following mass decolonization of African nations in the early 1960s, Murrow saw opportunities for Voice of America to expand into
                    the region. Crucially, he recognized that if VOA was to broadcast in Africa, it would be logical and necessary to
                    play African music. With this in mind, when Murrow first met Sarkisian in a completely chance meeting New Guinea in 1962,
                    he knew he had found the perfect man for the job. After seeing Leo's incredible enthusiasm for the music of the nation, and after listening to
                    some of his field recordings, Murrow offered Leo a job on the spot. One
                    short trip back to Washington D.C. to complete Foreign Service Officer training later,
                    Sarkisian headed to Liberia to begin recording music, now as an offical representative of the US government.</p>

                <p>Beginning in 1963 and continuing for numerous decades thereafter, Leo Sarkisian traveled and recorded in dozens of African countries, covering nearly all
                    of the continent outside of the Sahara. Leo captured an enormous variety of music and musicians—from
                    Fela Kuti and Louis Armstrong (on an international tour) to village musicians who had never before been recorded.</p>
                <br>

                <!-- map hosted on tableau public. Source can be viewed here:
                https://public.tableau.com/profile/walker5434#!/vizhome/sark_distribution/Sheet1 -->

                <script type='text/javascript' src='https://public.tableau.com/javascripts/api/viz_v1.js'></script>
                <div id="map" class='tableauPlaceholder'>
                    <noscript>
                        <a href='#'>
                            <img alt='Sheet 1 ' src='https://public.tableau.com/static/images/sa/sark_distribution/Sheet1/1_rss.png' style='border: none' />
                        </a>
                    </noscript>
                    <object class='tableauViz' width='98%' height='742' style='display:none;'>
                        <param name='host_url' value='https//public.tableau.com/' />
                        <param name='site_root' value='' />
                        <param name='name' value='sark_distribution/Sheet1' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https://public.tableau.com/static/images/sa/sark_distribution/Sheet1/1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='showVizHome' value='no' />
                        <param name='showTabs' value='n' />
                        <param name='bootstrapWhenNotified' value='true' />
                    </object>
                </div>
                <p class="small text-center text-muted">Map of the source locations of all extant Sarkisian field recordings in the collection.</p>
                <br>

                <p>In 1965 Leo decided he had built up a sufficient library of African music to begin doing something useful with it, and inaugurated the
                    "Music Time in Africa" radio program. From the very beginning, Leo's intention for the program was simply
                    to share this music with the people of Africa, and to help educate his listeners
                    in the diverse ethnic traditions to be found all across the continent. For each show, Leo wrote a script and assembled a
                    selection of "inserts" -- assortments of dubbed music tracks from his increasingly extensive collection -- into a single reel,
                    to be sent to a radio station first in Liberia, and after 1968 Washington DC. Arriving in a single small reel box
                    containing only the inserts reel and a folded-up script, the radio program encoded in the combination would then be recorded by the current host,
                    whose performance of the script would be broadcast across all of Africa.</p>

                <p>By the late 1970s, the show’s popularity had boomed, with both Leo and Rita Rochelle Hunt, the host from 1978-2004, becoming
                    household names across the African continent. By the 80s they were regularly reaching millions of listeners, and recieving
                    thousands of letters of fan-mail each month. Throughout it all Sarkisian continued to travel through Africa,
                    recording music and meeting fans. Leo remained director of the Africa Division of VoA for nearly 50 years,
                    continuing his tireless work right up to his official retirement in 2012.</p>

                <h1 id="Tapes">Behind the Tapes</h1>

                <p>Throughout his recording career, Sarkisian followed the same basic method. Before traveling to any
                    country he spent significant time researching its local culture, musical styles and prominent personages. Upon
                    arrival, he and his wife Mary generally set up housekeeping and a home office in the largest city.
                    Traveling as employees of the United States government, Leo and Mary moved in diplomatic and
                    government circles, and the connections they made there gave them the freedom and support to head out of
                    the city and circle the rural regions, capturing music that in many cases had never been been
                    recorded before. Their own warm, outgoing spirits meant they gathered friends wherever they
                    went.</p>

                <p>Leo traveled the rural areas by jeep or van when possible, by foot or donkey when not. He was usually
                    accompanied by a local guide or dignitary to smooth his way, make introductions, and provide Leo with
                    invaluable information on local musicians and musical practices. Mary very often came along as well
                    to record the trip, set up microphones, and help explain the proceedings to
                    musicians. Leo made his recordings in every possible setting, from concert halls to forest clearings - but
                    always got the best sound possible from his environment. He might have drummers sit next to the
                    wall, or set up a dozen microphones for a large choral group, and, once in Ghana, a canopy of mango
                    trees acted as a perfect acoustical ceiling.</p>

                <p>Now the entirety of the remaining original tapes from Mr. Sarkisian's travels and broadcasts, some 3000 reels, are held
                    by the University of Michigan. Once funding has been secured, we intend to embark on a large-scale
                    digitization and access project, making a significant selection of this material available to anyone with an internet
                    connection.</p>

                <h2>Sources</h2>

                <ul>
                    <li><cite>Bahrampour, T. (2012, September 30). Pioneering collector of African music retires from Voice of America. The Washington Post. Retrieved from<a href="http://www.washingtonpost.com.proxy.lib.umich.edu/local/pioneering-collector-of-african-music-retires-from-voice-of-america/2012/09/28/a9c10744-0998-11e2-afff-d6c7f20a83bf_story.html"> http://www.washingtonpost.com.proxy.lib.umich.edu/local/pioneering-collector-of-african-music-retires-from-voice-of-america/2012/09/28/a9c10744-0998-11e2-afff-d6c7f20a83bf_story.html</a></cite>
                    </li>
                    <li>
                        <cite>Bray, R. Thomas. “Update on the Sarkisian Audio Archive Project.” February 2, 2010.</cite>
                    </li>
                    <li>
                        <cite>Fisher-Thompson, Jim. “Nigeria Gives Warm Welcome to VOA’s Music Man.” IIP Digital. 24 May
                            2004.<a href="http://iipdigitaltest.usembassy.gov/st/english/article/2004/06/20040604163219r1ejrehsif0.21159.html#axzz34HjXT3RJ"> http://iipdigitaltest.usembassy.gov/st/english/article/2004/06/20040604163219r1ejrehsif0.21159.html#axzz34HjXT3RJ</a></cite>
                    </li>
                    <li>
                        <cite>Fisher-Thompson, Jim. “Drums Beat In Time With VOA’s Music Man To Africa.” IIP Digital. 6 May 2003.<a href="http://iipdigitaltest.usembassy.gov/st/english/article/2003/05/20030506173035rehsif0.7209436.html#axzz34HjXT3RJ"> http://iipdigitaltest.usembassy.gov/st/english/article/2003/05/20030506173035rehsif0.7209436.html#axzz34HjXT3RJ</a></cite>
                    </li>
                    <li>
                        <cite>Greenberg, Bruce. “VOA's ‘Music Man’ Retiring After 40 Years of Spinning African Music” IIP Digital. 28 June 2004.<a href="http://iipdigitaltest.usembassy.gov/st/english/article/2004/06/20040629190550mbgrebneerg0.9096796.html#axzz34HjXT3RJ"> http://iipdigitaltest.usembassy.gov/st/english/article/2004/06/20040629190550mbgrebneerg0.9096796.html#axzz34HjXT3RJ</a></cite>
                    </li>
                    <li>
                        <cite>Heil, Alan L., Jr. Voice of America: a History. New York: Columbia University Press, 2003.</cite>
                    </li>
                    <li>
                        <cite>Radio program - Music Time in Africa. (n.d.). Voice of America. 25 May 2014.<a href="http://www.voanews.com/archive/music-time-in-africa/latest/672/1456.html"> http://www.voanews.com/archive/music-time-in-africa/latest/672/1456.html</a></cite>
                    </li>
                    <li>
                        <cite>Krugler, David F. The Voice of America and the Domestic Propaganda Battles, 1945-1953. Columbia, Missouri: University of Missouri Press, 2000.</cite>
                    </li>
                    <li>
                        <cite>“Music Time in Africa” Founder Leo Sarkisian Retires. (2012, December 27). The World. Public Radio International. Retrieved from<a href="http://www.pri.org/stories/2012-12-27/music-time-africa-founder-leo-sarkisian-retires"> http://www.pri.org/stories/2012-12-27/music-time-africa-founder-leo-sarkisian-retires</a></cite>
                    </li>
                    <li>
                        <cite>Mary Sarkisian, Leo Sarkisian, ed. The Last Three Feet: Life and Travels of Mary and Leo Sarkisian. 2012 (unpublished).</cite>
                    </li>
                    <li>
                        <cite>The Stearns Collection at the University of Michigan:<a href="http://www.music.umich.edu/research/stearns_collection/collection_search.php"> http://www.music.umich.edu/research/stearns_collection/collection_search.php</a></cite>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sidebar-nav affix">
                <h3 id="VoA-sidebar" class="active"><a href="#VoA">Voice of America</a></h3>
                <h3 id="MTiA-sidebar"><a href="#MTiA">Music Time in Africa</a></h3>
                <h3 id="Tapes-sidebar"><a href="#Tapes">The Tapes</a></h3>
            </div>
        </div>
    </div>

    <script>
        // Code for scroll-position-based sidebar highlighting, using the jquery.waypoints.js library.
        // Requires two waypoints for every location: both + and - 5%.

        $(document).ready(function () {
            var voa_waypoint = $('#VoA').waypoint({
                handler: function () {
                    $('#VoA-sidebar').addClass('active');
                    $('#MTiA-sidebar').removeClass('active');
                    $('#Tapes-sidebar').removeClass('active');
                },
                offset: "-5%"
            });
            var mtia_waypoint = $('#MTiA').waypoint({
                handler: function() {
                    $('#VoA-sidebar').removeClass('active');
                    $('#MTiA-sidebar').addClass('active');
                    $('#Tapes-sidebar').removeClass('active');
                },
                offset: "-5%"
            });
            var tapes_waypoint = $('#Tapes').waypoint({
                handler: function() {
                    $('#VoA-sidebar').removeClass('active');
                    $('#MTiA-sidebar').removeClass('active');
                    $('#Tapes-sidebar').addClass('active');
                },
                offset: "-5%"
            });
            var voa_waypoint2 = $('#VoA').waypoint({
                handler: function () {
                    $('#VoA-sidebar').addClass('active');
                    $('#MTiA-sidebar').removeClass('active');
                    $('#Tapes-sidebar').removeClass('active');
                },
                offset: "5%"
            });
            var mtia_waypoint2 = $('#MTiA').waypoint({
                handler: function() {
                    $('#VoA-sidebar').removeClass('active');
                    $('#MTiA-sidebar').addClass('active');
                    $('#Tapes-sidebar').removeClass('active');
                },
                offset: "5%"
            });
            var tapes_waypoint2 = $('#Tapes').waypoint({
                handler: function() {
                    $('#VoA-sidebar').removeClass('active');
                    $('#MTiA-sidebar').removeClass('active');
                    $('#Tapes-sidebar').addClass('active');
                },
                offset: "5%"
            });
        });
    </script>
{% endblock %}

{% block bottom-content %}
    <script src="{% static 'js/jquery.waypoints.js' %}"></script>
{% endblock %}