{% extends "base.html" %}
{% block content %}
    <h1>Voice of America</h1>
        <div>
        <p>In 1942, the U.S. government transmitted the first “Voice of America” radio broadcasts to Germany in order to counter Nazi propaganda, pledging to “always tell the truth” about the news from the war. Under the authority of the Office of War Information, Voice of America grew to provide shortwave broadcasts in 40 languages over the course of World War II. Though created to transmit news, the stations also played over 1,000 specialized programs, including music and commentary.</p>
        <p>Voice of America transferred first to the State Department in 1945, and then to the U.S. Information Agency in 1953. This move ushered in the radio service’s Cold War era, to which the bulk of the Sarkisian recordings belong. With a renewed commitment to counteracting propaganda abroad, the VOA continued to broadcast news from the United States and around the world, targeting nations behind the Iron Curtain. Often the VOA’s most popular and influential programs, however, were not news but music shows, particularly those featuring American jazz musicians. Historians credit programs such as “Music USA”--a two-hour daily broadcast of jazz and pop music--with popularizing jazz outside the U.S., particularly in Soviet nations.</p>
        <p>As with its European counterparts, Voice of America’s Africa Division used American culture to advance U.S. strategic interests on the continent by playing American jazz programs for newly-independent African nations as well as U.S. political and cultural news. Since its first broadcasts in 1963, however, the Africa Division also drew in listeners through programs that celebrated the diversity of Africa’s own cultures and languages. For his popular “Music Time in Africa”[link to MTiA page] program, Leo Sarkisian played African traditional and contemporary music that he recorded in the field himself, educating his audience about the many artists, genres, and instruments he encountered in his travels.</p>
        <p>Now administered by the Broadcasting Board of Governors, Voice of America continues to broadcast to countries around the world. VOA has reduced its number of stations in the past decade, eliminating many of its services to Asia and Europe due to budget cuts and shifting diplomatic priorities. Among the 41 foreign languages still on the air are 13 spoken in African countries, as well as 4 of its English language stations.</p>
        </div>
        <br>
    <h1>Music Time in Africa</h1>
    <div>
        <p>[to be written]</p>
    </div>
    <br>
    <h1>Leo Sarkisian</h1>
    <div>
        <p>[to be written]</p>
    </div>

{% endblock %}