{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Leo Sarkisian MTiA Archive</title>

    <!-- css -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/sticky-footer-navbar-bootstrap.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- fonts -->
{#    <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>#}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137877165-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-137877165-1');
    </script>

    {% block header_material %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="MTiA-branding" href="/">MTiA Archive</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% ifequal "about" selected %}id="selected"{% endifequal %}><a href="http://mtia.sites.uofmhosting.net/">About</a></li>
            </ul>
            <div class="navbar-form navbar-search-container">
              {% block navbar_search %}
                <form role="search" action="{% url "haystack_search" %}">
                  <div class="input-group navbar-search-container">
                    <img class="search-icon" src="{% static 'fonts/open-iconic/svg/magnifying-glass.svg' %}"/>
                    <input class="form-control input-md" placeholder="Search MTiA scripts" name="q" value="{{ query }}" id="search-navbar">
                  </div>
                </form>
            {% endblock %}
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- content block -->
<div class="container sarkcontent">
    {% block content %}{% endblock %}
</div>

<br>

<!-- footer -->
{% block footer %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="display: inline-block">
                    <img src="{% static 'img/umich_si_logo.png' %}" style="height:30px; margin-top: 8px"/>
                    <p style="padding-top: 7px; font-size: 1.1em">© {% now "Y" %} Regents of the University of Michigan</p>
                </div>
                <p class="pull-right contact-us">
                    <a href="{% url 'contact-us' %}" target="_blank">
                        <strong>Contact Us</strong>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block bottom-content %}{% endblock %}

</body>
</html>