{% extends "base.html" %}
{% load staticfiles %}
{% load sark_extras %}
{% block header_material %}

    <!-- css -->
    <!-- audio player (soundmanager2) -->
    <link type="text/css" rel="stylesheet" href="{% static 'js/soundmanager2/bar-ui/css/bar-ui.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/sm2-bar-ui.css' %}"/>

    <!-- image viewer (photoswipe) -->
    <link rel="stylesheet" href="{% static 'css/photoswipe.css' %}">
    <link rel="stylesheet" href="{% static 'js/photoswipe/default-skin/default-skin.css' %}">

    <!-- js -->
    <!-- audio player (soundmanager2) -->
    <script src="{% static 'js/soundmanager2/soundmanager2.min.js' %}"></script>
    <script src="{% static 'js/soundmanager2/bar-ui/script/bar-ui.js' %}"></script>

    <!-- image viewer (photoswipe) -->
    <script src="{% static 'js/photoswipe/photoswipe.min.js' %}"></script>
    <script src="{% static 'js/photoswipe/photoswipe-ui-default.min.js' %}"></script>

{% endblock %}

{% block content %}
    <h3>{{ show.title }} <span class="small"><a href="/admin/sark/radioshow/{{ show.pk }}" target="_blank">[edit show]</a></span></h3>
    <p class="description"><em>{{ show.description }}</em> </p>
    <div class="recording-metadata">
    <p><strong>Host:</strong> <a href="{% url 'sark_django.sark.views.agent' show.host.name %}" target="_blank">{{ show.host.name }}</a></p>
    <p><strong>Air-date:</strong> {{ show.date }}</p>
    </div>
    {% if photos %}
        <div class="row">
            <div class="col-md-10">
                <hr>
                <div class="script">{{ show.script|render_template|linebreaks }}</div>
                <hr>
            </div>
            <!-- image viewer (photoswipe.js) -->
            <div class="col-md-2">
                <div class="image_gallery">
                    {% for photo in photos %}
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" alt="{{ photo.description }}">
                            <a href="{% static 'sarkfiles/' %}{{ photo.file.name }}" itemprop="contentUrl" data-size="{{ photo.image_width }}x{{ photo.image_height }}">
                                <img src="{% static 'sarkfiles/' %}{{ photo.thumb.name }}" itemprop="thumbnail" alt="{{ photo.description }}" class="image"/>
                            </a>
                            <br><br>
{#                            <figcaption itemprop="caption description">{{ photo.description }}</figcaption>#}
                        </figure>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <hr>
        <div class="script">{{ show.script|render_template|linebreaks }}</div>
        <hr>
    {% endif %}

    <!-- Photoswipe! -->
    {% include "sark/includes/photoswipe_boilerplate.html" %}


    <!-- audio player (soundmanager2.js) -->

    <div class="sm2-bar-ui full-width fixed flat">
        <div class="bd sm2-main-controls">
            <div class="sm2-inline-texture"></div>
            <div class="sm2-inline-gradient"></div>
            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#play" class="sm2-inline-button play-pause">Play / pause</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-inline-status">
                <div class="sm2-playlist">
                    <div class="sm2-playlist-target">
                        <!-- playlist <ul> + <li> markup will be injected here -->
                        <!-- if you want default / non-JS content, you can put that here. -->
                        <noscript><p>JavaScript is required.</p></noscript>
                    </div>
                </div>
                <div class="sm2-progress">
                    <div class="sm2-row">
                        <div class="sm2-inline-time">0:00</div>
                        <div class="sm2-progress-bd">
                            <div class="sm2-progress-track">
                                <div class="sm2-progress-bar"></div>
                                <div class="sm2-progress-ball"><div class="icon-overlay"></div></div>
                            </div>
                        </div>
                        <div class="sm2-inline-duration">0:00</div>
                    </div>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element sm2-volume">
                <div class="sm2-button-bd">
                    <span class="sm2-inline-button sm2-volume-control volume-shade"></span>
                    <a href="#volume" class="sm2-inline-button sm2-volume-control">volume</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#prev" title="Previous" class="sm2-inline-button previous">&lt; previous</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#next" title="Next" class="sm2-inline-button next">&gt; next</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element sm2-menu">
                <div class="sm2-button-bd">
                    <a href="#menu" class="sm2-inline-button menu">menu</a>
                </div>
            </div>
        </div>
        <div class="bd sm2-playlist-drawer sm2-element">
            <div class="sm2-inline-texture">
                <div class="sm2-box-shadow"></div>
            </div>

            <!-- playlist content -->
            <div class="sm2-playlist-wrapper">
                <ul class="sm2-playlist-bd">

                    {% for performance in performances %}
                        <li>
                            <div class="sm2-row">
                                <div class="sm2-col sm2-wide">
                                    <a href="{% static 'sarkfiles/' %}{{ performance.audio.name }}">{{ performance.title }}</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

    {% block footer %}{% endblock %}
    <script src="{% static 'js/photoswipe/sark_photoswipe_init.js' %}"></script>
{% endblock %}