{% extends "base.html" %}
{% load static %}

{% block content %}
    <p style="padding-top: 60px">
        The sound recordings featured in the Music Time in Africa Archive website are held by the University of Michigan
        Library’s Special Collections Research Center courtesy of the <a href="https://www.voanews.com/" target="_blank">Voice of America</a>.
        The materials were digitized in collaboration with the University of Michigan School of Information and
        the African History and Heritage Institute of the African Studies Center, with support from
        the National Endowment for the Humanities.
    </p>
    <p>
        The University of Michigan provides access to these materials for educational and research purposes.
        These materials may be under copyright. If you decide to use any of these materials, you are responsible
        for making your own legal assessment and securing any necessary permission. If you have questions about
        the collection or if you have concerns about the inclusion of an item through this website, please contact
        <a href="mailto:musictimeinafrica@umich.edu">musictimeinafrica@umich.edu</a> or write to:
    </p>
    <br/>`
    <p>
    <em>
        Music Time in Africa Archive<br/>
        University of Michigan School of Information<br/>
        4442 North Quad<br/>
        105 S. State St.<br/>
        Ann Arbor, MI 48109-1285<br/>
        </em>
        <br/>
        <strong>Contact phone:</strong> 734-615-1419<br/>
        <br/>
        <strong>Contact email</strong>: <a href="mailto:musictimeinafrica@umich.edu">musictimeinafrica@umich.edu</a><br/>
    </p>
{% endblock %}