{% extends "base.html" %}
{#{% block content %}#}
{#    <h1>Tech demo</h1>#}
{#    <p>Working functionality in development.</p>#}
{#    <p>See an early mockup of its intended design and functionality in the slides below. (direct link <a href="https://docs.google.com/presentation/d/15fhofrf0wFk00RkS-Ct06Aulg6evxZLUgg7vzEx_J_Q/edit?usp=sharing">here</a>)</p>#}
{#    <div class="embed-responsive embed-responsive-16by9">#}
{#        <iframe src="https://docs.google.com/presentation/d/15fhofrf0wFk00RkS-Ct06Aulg6evxZLUgg7vzEx_J_Q/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>#}
{#    </div>#}
{#{% endblock %}#}

{% block content %}
    <br>
    <form class="row form-inline center" role="search">
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-lg">Submit</button>
    </form>
{% endblock %}