{% extends "base.html" %}
{% block content %}
    <br>
    <form class="row form-inline center" role="search">
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-lg">Submit</button>
    </form>
    <br>
    <p class="center">[Search not yet functional]</p>
    <p>Example programs:</p>
    <ul>
        <li>
            Bryn Poole: <a href="program/1965-05-01">1965-01-01</a> (show #1)
        </li>
        <li>
            Susan Moran: <a href="program/1968-01-05">1968-01-05</a>
        </li>
        <li>
            Rita Rochelle: <a href="program/1989-07-16">1989-07-16</a>
        </li>
    </ul>
    <p>People</p>
    <ul>
        <li>
            <a href="person/Bryn Poole">Bryn Poole</a>
        </li>
        <li>
            <a href="person/Sue Moran">Susan Moran</a>
        </li>
        <li>
            <a href="person/Rita Rochelle">Rita Rochelle</a>
        </li>
        <li>
            <a href="person/Paul McCartney">Paul McCartney</a>
        </li>
    </ul>
    <p>Locations</p>
    <ul>
        <li>
            <a href="location/Todee+Liberia">Todee, Liberia</a>
        </li>
    </ul>
{% endblock %}