{% extends "base.html" %}
{% load staticfiles %}
{% block header_material %}

    <!-- css -->
    <!-- audio player (soundmanager2) -->
    <link type="text/css" rel="stylesheet" href="{% static 'js/soundmanager2/bar-ui/css/bar-ui.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/sm2-bar-ui.css' %}"/>

    <!-- image viewer (photoswipe) -->
    <link rel="stylesheet" href="{% static 'css/photoswipe.css' %}">
    <link rel="stylesheet" href="{% static 'js/photoswipe/default-skin/default-skin.css' %}">

    <!-- js -->
    <!-- audio player (soundmanager2) -->
    <script type="text/javascript" src="{% static 'js/soundmanager2/soundmanager2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/soundmanager2/bar-ui/script/bar-ui.js' %}"></script>

    <!-- image viewer (photoswipe) -->
    <script type="text/javascript" src="{% static 'js/photoswipe/photoswipe.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/photoswipe/photoswipe-ui-default.min.js' %}"></script>

{% endblock %}

{% block content %}

    <h3>{{ recording.title }}</h3>
    <p class="description"><em>{{ recording.description }}</em></p>
    <div class="recording-metadata">
        <p><strong>Location:</strong> <a href="{% url 'location' recording.location.name recording.location.country%}" target="_blank">
            {% if recording.location.name %}
                {{ recording.location.name }}, {{ recording.location.country }}
            {% else %}
                {{ recording.location.country }}
            {% endif %}
        </a></p>
        <p><strong>Engineer:</strong>
            {% if recording.recording_engineer %}
                <a href="{% url 'agent' recording.recording_engineer.name %}" target="_blank">{{ recording.recording_engineer.name }}</a>
            {% else %}
                Unknown
            {% endif %}
        </p>
        <p><strong>Recording date:</strong>
            {% if recording.date_text %}
                {{ recording.date_text }}
            {% else %}
                Undated
            {% endif %}
        </p>
    </div>
    <hr>

    {% for performance in performances %}
        <div class="media performance-list-item">

            <div class="media-left">
                <div class="performance-list-play play-pause" id="audio{{ forloop.counter0 }}">
                    <a href="#play"><span class="play-link"></span></a>
                </div>
            </div>
            <div class="media-body media-middle">
                <div class="row">
                    <div class="col-md-4"><span class="performance-list-item-title">{{ performance.title }}</span></div>
                    <div class="col-md-4">
                        {% for performer in performance.performers.all %}
                            {% if forloop.last %}
                                <span class="performance-list-item-performer"><a href="{% url 'agent' performer.name %}" target="_blank">{{ performer.name }}</a></span>
                            {% else %}
                                <span class="performance-list-item-performer"><a href="{% url 'agent' performer.name %}" target="_blank">{{ performer.name }}</a></span><br>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>

    {% endfor %}

    <!-- image viewer (photoswipe.js) -->

        <br>
        <br>

    {% if images %}
        {#        <h3>Scans</h3>#}
        <div class="well">
            <div class="image_gallery">
                {% for image in images %}
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" alt="{{ image.description }}" class="field-recording-image-figure">
                        <a href="{% static 'uimg/' %}{{ image.file.name }}" itemprop="contentUrl" data-size="{{ image.image_width }}x{{ image.image_height }}">
                            <img src="{% static 'uimg/' %}{{ image.thumb.name }}" itemprop="thumbnail" alt="{{ image.description }}" class="field-recording-image"/>
                        </a>
                        <br><br>
                        {#                            <figcaption itemprop="caption description">{{ image.description }}</figcaption>#}
                    </figure>
                {% endfor %}
            </div>
        </div>

    {% else %}
    {% endif %}

    <!-- Photoswipe! -->
    {% include "sark/includes/photoswipe_boilerplate.html" %}


    <!-- audio player (soundmanager2.js) -->

    <div class="sm2-bar-ui full-width fixed flat">
        <div class="bd sm2-main-controls">
            <div class="sm2-inline-texture"></div>
            <div class="sm2-inline-gradient"></div>
            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#play" class="sm2-inline-button play-pause" id="play-button">Play / pause</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-inline-status">
                <div class="sm2-playlist">
                    <div class="sm2-playlist-target">
                        <!-- playlist <ul> + <li> markup will be injected here -->
                        <!-- if you want default / non-JS content, you can put that here. -->
                        <noscript><p>JavaScript is required.</p></noscript>
                    </div>
                </div>
                <div class="sm2-progress">
                    <div class="sm2-row">
                        <div class="sm2-inline-time">0:00</div>
                        <div class="sm2-progress-bd">
                            <div class="sm2-progress-track">
                                <div class="sm2-progress-bar"></div>
                                <div class="sm2-progress-ball"><div class="icon-overlay"></div></div>
                            </div>
                        </div>
                        <div class="sm2-inline-duration">0:00</div>
                    </div>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element sm2-volume">
                <div class="sm2-button-bd">
                    <span class="sm2-inline-button sm2-volume-control volume-shade"></span>
                    <a href="#volume" class="sm2-inline-button sm2-volume-control">volume</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#prev" title="Previous" class="sm2-inline-button previous">&lt; previous</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#next" title="Next" class="sm2-inline-button next">&gt; next</a>
                </div>
            </div>

        </div>
        <div class="bd sm2-playlist-drawer sm2-element">
            <div class="sm2-inline-texture">
                <div class="sm2-box-shadow"></div>
            </div>

            <!-- playlist content -->
            <div class="sm2-playlist-wrapper">
                <ul class="sm2-playlist-bd">

                    {% for performance in performances %}
                        <li>
                            <div class="sm2-row">
                                <div class="sm2-col sm2-wide">
                                    <a href="{% static 'audio/' %}{{ performance.audio.name }}">{{ performance.title }}</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/photoswipe/sark_photoswipe_init.js' %}"></script>
    <script>
        {% for performance in performances %}
            $('#audio{{ forloop.counter0 }}').click(function(){
                window.sm2BarPlayers[0].actions.play({{ forloop.counter0 }});
                window.sm2BarPlayers[0].playlistController.data.selectedIndex = {{ forloop.counter0 }};
                $(".media-left div").removeClass("performance-list-pause").addClass("performance-list-play");
                $("#audio{{ forloop.counter0 }}").removeClass("performance-list-play").addClass("performance-list-pause");
            });
        {% endfor %}

    </script>
{% endblock %}

{% block footer %}{% endblock %}
