{% extends "base.html" %}
{% load staticfiles %}
{% block header_material %}

    <!-- css -->
    <!-- audio player (soundmanager2) -->
    <link type="text/css" rel="stylesheet" href="{% static 'js/soundmanager2/bar-ui/css/bar-ui.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/sm2-bar-ui.css' %}"/>

    <!-- image viewer (photoswipe) -->
    <link rel="stylesheet" href="{% static 'css/photoswipe.css' %}">
    <link rel="stylesheet" href="{% static 'js/photoswipe/default-skin/default-skin.css' %}">

    <!-- js -->
    <!-- audio player (soundmanager2) -->
    <script type="text/javascript" src="{% static 'js/soundmanager2/soundmanager2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/soundmanager2/bar-ui/script/bar-ui.js' %}"></script>

    <!-- image viewer (photoswipe) -->
    <script type="text/javascript" src="{% static 'js/photoswipe/photoswipe.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/photoswipe/photoswipe-ui-default.js' %}"></script>

{% endblock %}

{% block content %}

    <h3>{{ recording.title }} <span class="small"><a href="/admin/sark/fieldrecording/{{ recording.pk }}" target="_blank">[edit entry]</a></span></h3>
    <p class="description"><em>{{ recording.description }}</em></p>
    <div class="recording-metadata">
        <p><strong>Location:</strong> <a href="{% url 'sark_django.sark.views.location' recording.location.name recording.location.country%}" target="_blank">
            {% if recording.location.name %}
                {{ recording.location.name }}, {{ recording.location.country }}
            {% else %}
                {{ recording.location.country }}
            {% endif %}
        </a></p>
        <p><strong>Engineer:</strong>
            {% if recording.recording_engineer %}
                <a href="{% url 'sark_django.sark.views.agent' recording.recording_engineer.name %}" target="_blank">{{ recording.recording_engineer.name }}</a>
            {% else %}
                Unknown
            {% endif %}
        </p>
        <p><strong>Recording date:</strong>
            {% if recording.date_text %}
                {{ recording.date_text }}
            {% else %}
                Undated
            {% endif %}
        </p>
    </div>
    <hr>
    {% if images %}
        <div class="row">
            <div class="col-md-10">
                {% for performance in performances %}
                    <div class="media performance-list-item">

                    <div class="media-left">
                        <div class="performance-list-play play-pause">
                            <a href="#play"><span class="play-link"></span></a>
                        </div>
                    </div>
                    <div class="media-body media-middle">
                        <div class="row">
                            <div class="col-md-4">{{ performance.title }}</div>
                            <div class="col-md-4">
                                {% for performer in performance.performers.all %}
                                    {% if forloop.last %}
                                        <a href="{% url 'sark_django.sark.views.agent' performer.name %}" target="_blank">{{ performer.name }}</a>
                                    {% else %}
                                        <a href="{% url 'sark_django.sark.views.agent' performer.name %}" target="_blank">{{ performer.name }}</a><br>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>

                {% endfor %}

                <hr>
            </div>
            <!-- image viewer (photoswipe.js) -->
            <div class="col-md-2">
                <div class="image_gallery">
                    {% for image in images %}
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" alt="{{ image.description }}">
                            <a href="{% static 'sarkfiles/' %}{{ image.file.name }}" itemprop="contentUrl" data-size="{{ image.image_width }}x{{ image.image_height }}">
                                <img src="{% static 'sarkfiles/' %}{{ image.thumb.name }}" itemprop="thumbnail" alt="{{ image.description }}" class="image"/>
                            </a>
                            <br><br>
                            {#                            <figcaption itemprop="caption description">{{ image.description }}</figcaption>#}
                        </figure>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
    {% endif %}

    <!-- Photoswipe! -->
    {% include "sark/includes/photoswipe_boilerplate.html" %}


    <!-- audio player (soundmanager2.js) -->

    <div class="sm2-bar-ui full-width fixed flat">
        <div class="bd sm2-main-controls">
            <div class="sm2-inline-texture"></div>
            <div class="sm2-inline-gradient"></div>
            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#play" class="sm2-inline-button play-pause">Play / pause</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-inline-status">
                <div class="sm2-playlist">
                    <div class="sm2-playlist-target">
                        <!-- playlist <ul> + <li> markup will be injected here -->
                        <!-- if you want default / non-JS content, you can put that here. -->
                        <noscript><p>JavaScript is required.</p></noscript>
                    </div>
                </div>
                <div class="sm2-progress">
                    <div class="sm2-row">
                        <div class="sm2-inline-time">0:00</div>
                        <div class="sm2-progress-bd">
                            <div class="sm2-progress-track">
                                <div class="sm2-progress-bar"></div>
                                <div class="sm2-progress-ball"><div class="icon-overlay"></div></div>
                            </div>
                        </div>
                        <div class="sm2-inline-duration">0:00</div>
                    </div>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element sm2-volume">
                <div class="sm2-button-bd">
                    <span class="sm2-inline-button sm2-volume-control volume-shade"></span>
                    <a href="#volume" class="sm2-inline-button sm2-volume-control">volume</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#prev" title="Previous" class="sm2-inline-button previous">&lt; previous</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#next" title="Next" class="sm2-inline-button next">&gt; next</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element sm2-menu">
                <div class="sm2-button-bd">
                    <a href="#menu" class="sm2-inline-button menu">menu</a>
                </div>
            </div>
        </div>
        <div class="bd sm2-playlist-drawer sm2-element">
            <div class="sm2-inline-texture">
                <div class="sm2-box-shadow"></div>
            </div>

            <!-- playlist content -->
            <div class="sm2-playlist-wrapper">
                <ul class="sm2-playlist-bd">

                    {% for performance in performances %}
                        <li>
                            <div class="sm2-row">
                                <div class="sm2-col sm2-wide">
                                    <a href="{% static 'sarkfiles/' %}{{ performance.audio.name }}">{{ performance.title }}</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
            <div class="sm2-extra-controls">
                <div class="bd">
                    <div class="sm2-inline-element sm2-button-element">
                        <a class="sm2-inline-button previous" title="Previous" href="#prev">< previous</a>
                    </div>
                    <div class="sm2-inline-element sm2-button-element">
                        <a class="sm2-inline-button next" title="Next" href="#next">> next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/photoswipe/sark_photoswipe_init.js' %}"></script>
{% endblock %}