{% extends "base.html" %}
{% load static %}

{% block navbar_search %}
    <!-- overridden -->
{% endblock %}
{% block content %}

    <form class="form" role="search" method="get" action="/search">
        <div class="input-group">
            <input type="text" class="form-control input-lg" placeholder="What are you looking for?" name="q"  id="search">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-lg sark">Search</button>
            </span>
        </div>
    </form>
    <br>
    <hr>
    {#    <h2>Music Time in Africa - online collections</h2>#}
    <p class="site-description">Welcome to the online beta of the <strong><em>Leo Sarkisian Music Time in Africa digital collection</em></strong>, featuring both MTiA radio broadcasts and original field recordings collected by Leo throughout Africa. Browse through select facets of our intended functionality below, or search for digitized content above.</p>
    <br><br>
    {#    <div class="script"><p>Not'in'</p></div>#}
    <div class="row row-centered">
        <div class="col-md-6">
            <div class="media showcase-row">
                <div class="media-left">
                    <img src="{% static 'sarkfiles/img/radio.jpg' %}" class="showcase-img"/>
                </div>
                <div class="media-body showcase-body">
                    <h3>Broadcasts</h3>
                    {% for show in object_list %}
                        <li class="no-bullets">{{ show.host.name }}: <a href="{% url 'sark_django.sark.views.broadcast' show.date|date:"Y" show.date|date:"m" show.date|date:"d" %}">{{ show.date|date:"Y-m-d" }}</a></li>
                    {% endfor %}
                </div>
            </div>
            <br><br>
        </div>
        <div class="col-md-6">
            <div class="media showcase-row">
                <div class="media-left">
                    <img src="{% static 'sarkfiles/img/field_recording.jpg' %}" class="showcase-img"/>
                </div>
                <div class="media-body showcase-body">
                    <h3>Field Recordings</h3>
                    <div class="no-bullets">
                        <li><a href="{% url 'sark_django.sark.views.field_recording' 39015090284202 %}">Kolahun, Liberia, 1965</a></li>
                        <li><a href="{% url 'sark_django.sark.views.field_recording' 39015090284632 %}">Fela Kuti in Nigeria, 1965</a></li>
                        <li><a href="{% url 'sark_django.sark.views.field_recording' 39015090284616 %}">Dacca Music Festival, 1955</a></li>
                        <li><a href="{% url 'sark_django.sark.views.field_recording' 39015087086255 %}">"Old Man of Herat", 1954</a></li>
                        <li><a href="{% url 'sark_django.sark.views.field_recording' 39015087086404 %}">Louis Armstrong in Tunis, 1967</a></li>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <div class="row row-centered">
        <div class="col-md-6">
            <div class="media showcase-row">
                <div class="media-left">
                    <img src="{% static 'sarkfiles/img/artists.jpg' %}" class="showcase-img"/>
                </div>
                <div class="media-body showcase-body">
                    <h3>Performers</h3>
                    <div class="no-bullets">
                        <li><a href="{% url 'sark_django.sark.views.agent' 'Unknown performer(s)' %}">Unknown performer(s)</a></li>
                        <li><a href="{% url 'sark_django.sark.views.agent' 'Duro Ladipo' %}">Duro Ladipo</a></li>
                        <li><a href="{% url 'sark_django.sark.views.agent' 'Drum and Vocal Group from Chelo village' %}">Chelo village group, Liberia</a></li>
                        <li><a href="{% url 'sark_django.sark.views.agent' 'Fela Ransome-Kuti and His Koola Loobitos' %}">Fela Kuti</a></li>
                        <li><a href="{% url 'sark_django.sark.views.agent' 'Papa Susso' %}">Papa Susso</a></li>
                    </div>
                </div>
            </div>
        <br><br>
        </div>
        <div class="col-md-6">
            <div class="media showcase-row">
                <div class="media-left">
                    <img src="{% static 'sarkfiles/img/locations.jpg' %}" class="showcase-img"/>
                </div>
                <div class="media-body showcase-body">
                    <h3>Locations</h3>
                    <div class="no-bullets">
                        <li><a href="{% url 'sark_django.sark.views.location' '' 'Liberia' %}">Liberia</a></li>
                        <li><a href="{% url 'sark_django.sark.views.location' '' 'Nigeria' %}">Nigeria</a></li>
                        <li><a href="{% url 'sark_django.sark.views.location' 'Zanzibar' 'Tanzania' %}">Zanzibar, Tanzania</a></li>
                        <li><a href="{% url 'sark_django.sark.views.location' '' 'Gambia' %}">Gambia</a></li>
                        <li><a href="{% url 'sark_django.sark.views.location' '' 'Cameroon' %}">Cameroon</a></li>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
{#    <div class="row row-centered">#}
{#        <div class="col-md-6">#}
{#            <h3>Hosts</h3>#}
{#            <ul class="no-bullets">#}
{#                {% for host in hosts|slice:':5' %}#}
{#                    <li>{{ host.dates_active }} - <a href="{% url 'sark_django.sark.views.agent' host.name %}">{{ host.name }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}

    <br>
{% endblock %}