{% extends "base.html" %}
{% load static %}


{% block content %}
  <h1 class="site-description text-center">Digitized Broadcasts</h1>
  <div class="pull-right">
    <button id="sark-content-grid-toggle">
      <img style="height: 16px" src="{% static 'fonts/open-iconic/svg/grid-three-up.svg' %}" alt="click to select grid view" title="click to select grid view"/>
    </button>
    <button id="sark-content-list-toggle">
      <img style="height: 16px" src="{% static 'fonts/open-iconic/svg/list.svg' %}" alt="click to select list view" title="click to select list view"/>
    </button>
  </div>
  <br/>
  <hr>

  <div class="row">
    <div class="col-md-2 categories">
      {% include "search/search-sidebar.html" %}
      <br>
    </div>

    <div id="sark-content-list" style="display: none" class="col-md-10">
      {% include "home/contents-as-list.html" %}
    </div>
    <div id="sark-content-grid" class="col-md-10">
      {% include "home/contents-as-grid.html" %}
    </div>
    <br>
  </div>
  <script>
    var $listToggle = $("#sark-content-list-toggle");
    var $gridToggle = $("#sark-content-grid-toggle");
    var $list = $("#sark-content-list");
    var $grid = $("#sark-content-grid");

    $listToggle.click(function(e) {
        $list.show();
        $grid.hide();
    });

    $gridToggle.click(function(e) {
        $grid.show();
        $list.hide();
    })
  </script>
{% endblock %}