{% extends "base.html" %}
{% block content %}

    </div>
    <div class="row">
        <div class="col-md-1"></div>

        <div class="container-fluid col-md-10">
            <h1>Inventory</h1>
            <p>A working inventory of the entire physical Sarkisian collection, as held by the University of Michigan.<p>
            <p>[placeholder until master spreadsheet is ready for production. Spreadsheet takes a second or two to load]</p><br>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://docs.google.com/spreadsheets/d/1zGb7c6mX7XCHUwhDI-j7a8T7dDOrjpatDHJQi-BL5Jk/pubhtml?widget=true&amp;headers=false"></iframe>
            </div>
        </div>
        <div class="col-md-1"></div>

{% endblock %}