{% extends "base.html" %}
{% load static %}
{% block header_material %}
    <script src="{% static 'js/sortable.min.js' %}"></script>
{% endblock %}
{% block content %}
    <h3>{{ location }}</h3>
    <hr>
    <iframe
            width=100%
            height="350"
            frameborder="0"
            style="border:0"
            src="{{ google_maps_api_link }}"
            allowfullscreen>
    </iframe>

    <br><br>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <table class="table table-striped table-hover" data-sortable>
                    <thead>
                    <tr>
                        <th>People and groups from {{ location }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for person in people %}
                        <tr><td><a href="{% url 'agent' person.name %}" target="_blank">{{ person.name }}</a></td></tr>
                    {% empty %}
                        <tr><td>No people or groups from this location</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <table class="table table-striped table-hover" data-sortable>
                    <thead>
                    <tr>
                        <th>Recordings made in {{ location }}</th>
                        <th>Year</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for recording in recordings %}
                        <tr>
                            <td><a href="{% url 'broadcast' recording.date|date:"Y" recording.date|date:"m" recording.date|date:"d" %}" target="_blank">{{ recording.title }}</a></td>
                            <td>{{ recording.date|date:"Y" }}</td>
                        </tr>
                    {% empty %}
                        <tr><td>No recordings from this location</td><td></td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}