{% extends "base.html" %}
{% load static %}

{% block header_material %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""
  />
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
          integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
          crossorigin="">
  </script>
{% endblock %}

{% block content %}
  <div id="mapid" style="height: 700px"></div>
  <script>

      var map = L.map('mapid').setView([1.843503, 15.0121694], 3.3);
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
          maxZoom: 18,
          id: 'mapbox.light',
          accessToken: 'pk.eyJ1Ijoid2Fsa2VyZGIiLCJhIjoiY2pnazhnNjgxMThzbjJxbWo5dGw5N243OCJ9.RUavsHupySnI_508K8ReBQ'
      }).addTo(map);

      function extractCount(country_counts, properties) {
          return country_counts[properties.name] || country_counts[properties.name_long] || country_counts[properties.formal_en] || 0;
      }

      function extractNation(country_counts, properties) {
          if (country_counts[properties.name]) {
              return properties.name
          }

          if (country_counts[properties.name_long]) {
              return properties.name_long
          }

          if (country_counts[properties.formal_en]) {
              return properties.formal_en
          }

          return properties.name_long;
      }

      function getColor(properties, country_counts) {
          var count = extractCount(country_counts, properties);
          if (!count) {
              return '';
          }

          return count > 250 ? '#800026' :
                 count > 125 ? '#BD0026' :
                 count > 62 ? '#E31A1C' :
                 count > 31 ? '#FC4E2A' :
                 count > 15 ? '#FD8D3C' :
                 count > 8 ? '#FEB24C' :
                 count > 4 ? '#FED976' :
                 count > 1 ? '#FFEDA0' :
                 '';
      }

      var info = L.control();
      var geojson;

      var country_counts = JSON.parse("{{ location_counts }}".replace(/&quot;/g, '"').replace(/\\u00f4/g, 'ô').replace(/&#39;/, "'"))
      console.log(country_counts)

      info.onAdd = function (map) {
          this._div = L.DomUtil.create('div', 'map-info'); // create a div with a class "info"
          this.update();
          return this._div;
      };

      // method that we will use to update the control based on feature properties passed
      info.update = function (props) {
          count =
          this._div.innerHTML = '<h4>Broadcasts featuring this country</h4>' +  (props ?
              '<b>' + extractNation(country_counts, props) + '</b><br />' + extractCount(country_counts, props) + ' broadcasts'
              : 'Hover over a nation');
      };

      info.addTo(map);

      function highlightFeature(e) {
          var layer = e.target;

          layer.setStyle({
              weight: 3,
              color: '#666',
              dashArray: '',
              fillOpacity: 0.7
          });

          if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
              layer.bringToFront();
          }

          info.update(layer.feature.properties);
      }

      function resetHighlight(e) {
          geojson.resetStyle(e.target);
          info.update();
      }

      function searchForCountry(e) {
          var nation = extractNation(country_counts, e.target.feature.properties);
          window.open("{% url 'haystack_search' %}?selected_facets=locations_exact:" + nation,'_blank');
      }

      function onEachFeature(feature, layer) {
          layer && layer.on({
              mouseover: highlightFeature,
              mouseout: resetHighlight,
              click: searchForCountry
          });
      }

      function style(feature) {
          return {
              fillColor: getColor(feature.properties, country_counts),
              weight: 1,
              opacity: 1,
              color: 'white',
              fillOpacity: 0.7
          };
      }
      $.ajax("{% static 'data/africa.geo.json' %}").done(function (response) {
        geojson = L.geoJson(response, {style: style, onEachFeature: onEachFeature}).addTo(map);
      });

  </script>
  <pre>
    {{ location_counts }}
  </pre>
{% endblock %}