{% extends "base.html" %}
{% load staticfiles %}
{% block header_material %}
    <link type="text/css" rel="stylesheet" href="{% static 'js/bar-ui/css/bar-ui.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/sm2-bar-ui.css' %}"/>
    <script src="{% static 'js/soundmanager2.js'%}"></script>
    <script src="{% static 'js/bar-ui/script/bar-ui.js'%}"></script>
{#    <script src="{% static 'js/bar-ui/script/demo.js'%}"></script>#}
{% endblock %}

{% block content %}
    <p><strong>Host:</strong> <a href="../../person/{{ show.host.name }}">{{ show.host.name }}</a></p>
    <p><strong>Air-date:</strong> {{ show.date }}</p>
    <p><em>{{ show.description }}</em></p>
    <hr>
    <div class="script">{{ script_text|safe }}</div>
    <hr>
{#    <div class="audio_player">#}
{#    <audio controls style="width: 100%">#}
{#        <source src="{% static 'sarkfiles/audio/' %}{{ audio }}" type="audio/mpeg">#}
{#    </audio>#}
{#    </div>#}

    <div class="sm2-bar-ui full-width fixed flat">
        <div class="bd sm2-main-controls">
            <div class="sm2-inline-texture"></div>
            <div class="sm2-inline-gradient"></div>
            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#play" class="sm2-inline-button play-pause">Play / pause</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-inline-status">
                <div class="sm2-playlist">
                    <div class="sm2-playlist-target">
                        <!-- playlist <ul> + <li> markup will be injected here -->
                        <!-- if you want default / non-JS content, you can put that here. -->
                        <noscript><p>JavaScript is required.</p></noscript>
                    </div>
                </div>
                <div class="sm2-progress">
                    <div class="sm2-row">
                        <div class="sm2-inline-time">0:00</div>
                        <div class="sm2-progress-bd">
                            <div class="sm2-progress-track">
                                <div class="sm2-progress-bar"></div>
                                <div class="sm2-progress-ball"><div class="icon-overlay"></div></div>
                            </div>
                        </div>
                        <div class="sm2-inline-duration">0:00</div>
                    </div>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element sm2-volume">
                <div class="sm2-button-bd">
                    <span class="sm2-inline-button sm2-volume-control volume-shade"></span>
                    <a href="#volume" class="sm2-inline-button sm2-volume-control">volume</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#prev" title="Previous" class="sm2-inline-button previous">&lt; previous</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#next" title="Next" class="sm2-inline-button next">&gt; next</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element sm2-menu">
                <div class="sm2-button-bd">
                    <a href="#menu" class="sm2-inline-button menu">menu</a>
                </div>
            </div>
        </div>
        <div class="bd sm2-playlist-drawer sm2-element">
            <div class="sm2-inline-texture">
                <div class="sm2-box-shadow"></div>
            </div>

            <!-- playlist content -->
            <div class="sm2-playlist-wrapper">
                <ul class="sm2-playlist-bd">

                    {% for performance in performances %}
                        <li>
                            <div class="sm2-row">
                                <div class="sm2-col sm2-wide">
                                    <a href="{% static 'sarkfiles/audio/' %}{{ performance.audio.access_link }}">{{ performance.title }}</a>
                                </div>
                                <div class="sm2-col">
                                    <a href="{% static 'sarkfiles/audio/' %}{{ performance.audio.access_link }}" target="_blank" title="Download" class="sm2-icon sm2-music sm2-exclude">Download this track</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

{% endblock %}