{% extends "base.html" %}
{% load staticfiles %}
{% block header_material %}

    <!-- css -->
    <!-- audio player (soundmanager2) -->
    <link type="text/css" rel="stylesheet" href="{% static 'js/soundmanager2/bar-ui/css/bar-ui.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/sm2-bar-ui.css' %}"/>

    <!-- image viewer (photoswipe) -->
    <link rel="stylesheet" href="{% static 'css/photoswipe.css' %}">
    <link rel="stylesheet" href="{% static 'js/photoswipe/default-skin/default-skin.css' %}">

    <!-- js -->
    <!-- audio player (soundmanager2) -->
    <script src="{% static 'js/soundmanager2/soundmanager2.js' %}"></script>
    <script src="{% static 'js/soundmanager2/bar-ui/script/bar-ui.js' %}"></script>

    <!-- image viewer (photoswipe) -->
    <script src="{% static 'js/photoswipe/photoswipe.js' %}"></script>
    <script src="{% static 'js/photoswipe/photoswipe-ui-default.js' %}"></script>

{% endblock %}

{% block content %}
    <p><strong>Host:</strong> <a href="../../person/{{ show.host.name }}">{{ show.host.name }}</a></p>
    <p><strong>Air-date:</strong> {{ show.date }}</p>
    <p><em>{{ show.description }}</em></p>
    <hr>
    <div class="script">{{ script_text|safe }}</div>
    <hr>

    <!-- image viewer (photoswipe.js) -->

    <div class="image_gallery">
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="large-image.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="small-image.jpg" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption</figcaption>
        </figure>
    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>
        </div>
    </div>


    <!-- audio player (soundmanager2.js) -->

    <div class="sm2-bar-ui full-width fixed flat">
        <div class="bd sm2-main-controls">
            <div class="sm2-inline-texture"></div>
            <div class="sm2-inline-gradient"></div>
            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#play" class="sm2-inline-button play-pause">Play / pause</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-inline-status">
                <div class="sm2-playlist">
                    <div class="sm2-playlist-target">
                        <!-- playlist <ul> + <li> markup will be injected here -->
                        <!-- if you want default / non-JS content, you can put that here. -->
                        <noscript><p>JavaScript is required.</p></noscript>
                    </div>
                </div>
                <div class="sm2-progress">
                    <div class="sm2-row">
                        <div class="sm2-inline-time">0:00</div>
                        <div class="sm2-progress-bd">
                            <div class="sm2-progress-track">
                                <div class="sm2-progress-bar"></div>
                                <div class="sm2-progress-ball"><div class="icon-overlay"></div></div>
                            </div>
                        </div>
                        <div class="sm2-inline-duration">0:00</div>
                    </div>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element sm2-volume">
                <div class="sm2-button-bd">
                    <span class="sm2-inline-button sm2-volume-control volume-shade"></span>
                    <a href="#volume" class="sm2-inline-button sm2-volume-control">volume</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#prev" title="Previous" class="sm2-inline-button previous">&lt; previous</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#next" title="Next" class="sm2-inline-button next">&gt; next</a>
                </div>
            </div>
            <div class="sm2-inline-element sm2-button-element sm2-menu">
                <div class="sm2-button-bd">
                    <a href="#menu" class="sm2-inline-button menu">menu</a>
                </div>
            </div>
        </div>
        <div class="bd sm2-playlist-drawer sm2-element">
            <div class="sm2-inline-texture">
                <div class="sm2-box-shadow"></div>
            </div>

            <!-- playlist content -->
            <div class="sm2-playlist-wrapper">
                <ul class="sm2-playlist-bd">

                    {% for performance in performances %}
                        <li>
                            <div class="sm2-row">
                                <div class="sm2-col sm2-wide">
                                    <a href="{% static 'sarkfiles/audio/' %}{{ performance.audio.access_link }}">{{ performance.title }}</a>
                                </div>
                                <div class="sm2-col">
                                    <a href="{% static 'sarkfiles/audio/' %}{{ performance.audio.access_link }}" target="_blank" title="Download" class="sm2-icon sm2-music sm2-exclude">Download this track</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

    <script>
var pswpElement = document.querySelectorAll('.pswp')[0];

// build items array
var items = [
    {
        src: 'https://placekitten.com/600/400',
        w: 600,
        h: 400
    },
    {
        src: 'https://placekitten.com/1200/900',
        w: 1200,
        h: 900
    }
];

// define options (if needed)
var options = {
    // optionName: 'option value'
    // for example:
    index: 0 // start at first slide
};

// Initializes and opens PhotoSwipe
var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
gallery.init();
    </script>
{% endblock %}