{% load replace_query_param from sark_extras %}

{% for page_num in pages_to_show %}
  <li class="{% if page_num == current_page %}active{% endif %}">
    {% if page_num %}
      <a href="?{% replace_query_param request 'page' page_num %}">
        {{ page_num }}
      </a>
    {% else %}
      <a>...</a>
    {% endif %}
  </li>
{% endfor %}
