{% load static %}
{% load build_pagination from sark_extras %}
{% load replace_query_param from sark_extras %}

<div class="text-center">
  <ul class="pagination center-align" id="pagination">
    {% if page.has_previous %}
      <li>
        <a href="?{% replace_query_param request 'page' page.previous_page_number %}">
          <
        </a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="#" onClick="return false;">
          <
        </a>
      </li>
    {% endif %}

    {% build_pagination page request %}

    {% if page.has_next %}
      <li>
        <a href="?{% replace_query_param request 'page' page.next_page_number %}">
          >
        </a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="#" onClick="return false;">
          >
        </a>
      </li>
    {% endif %}
  </ul>
</div>
