{% extends "admin/change_form.html" %}
{% load staticfiles %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script src="{% static 'js/jquery.hotkeys.js' %}"></script>
    <script>
        function makeWebLink(elementID, url) {
            var textArea = $('#' + elementID);
            var len = textArea.val().length;
            var start = textArea[0].selectionStart;
            var end = textArea[0].selectionEnd;
            var selectedText = textArea.val().substring(start, end);
            var replacement = '<a href="' + url + selectedText + '">' + selectedText + '</a>';
            textArea.val(textArea.val().substring(0, start) + replacement + textArea.val().substring(end, len));
        }
        $('#id_script').bind('keydown', 'alt+a', function(){
            makeWebLink('scriptarea', '/agent/');
        });
    </script>
{% endblock %}