{% load static %}
{% load sark_extras %}
{% load highlight %}

<div class="search-result-list">

  {% for result in page.object_list %}
      <div class="search_result">

          {% if "radioshow" in result.model_name %}
              <div class="media">

                  <div class="media-body">
                      <h3 class="search-header">
                        MTiA
                        <a href="{% url 'broadcast' result.object.date|date:'Y' result.object.date|date:'m' result.object.date|date:'d' %}">
                          {{ result.object.date|date:"Y-m-d" }}
                        </a>
                        ({% if result.object.host.name %}{% highlight result.object.host.name with query %}, host{% else %}unknown host{% endif %})
                      </h3>
                      {% if result.object.description %}<p class="search-description"><em>{{ result.object.description }}</em></p>{% endif %}
                      {% if query %}<div class="small search-script"><strong style="color: #4e4e4e">Script excerpt:</strong><br>{% highlight result.object.script_text with query %}</div>{% endif %}
                  </div>
                  {% if result.object.images.all.0 %}
                      <div class="search-image-well image_gallery ">
                          {% for image in result.object.images.all %}
                              <figure class="search-result-image-figure media-middle">
                                  <a href="{% static 'img/' %}{{ image.file.name }}" data-size="{{ image.image_width }}x{{ image.image_height }}">
                                      <img src="{% static 'img/' %}{{ image.thumb.name }}" alt="{{ image.description }}" class="search-result-image"/>
                                  </a>
                                  <br><br>
                              </figure>
                          {% endfor %}
                      </div>
                  {% endif %}
              </div>
          {% endif %}

          {% if "agent" in result.model_name %}
              <p class="search-header">
                  Person or Group: <a href="{% url 'agent' result.object.name %}">{{ result.object.name }}</a>
              </p>
          {% endif %}

      </div>

  {% empty %}
      <p>No results found.</p>
  {% endfor %}
</div>

{% include "pagination/pagination.html" %}