{% load static %}
{% load sark_extras %}


{% for show in page.object_list %}
  {% if forloop.first %}
    <div class="row row-centered">
  {% endif %}
  <div class="col-md-{{ row_size }}">
    <div class="square" style='background-image: url("{% static '/img/' %}{{ show.object|get_show_tile_image_from_country }}")'>
      {% if not show.object.is_copyright_protected %}
          {% if show.object.completeness == "Platinum" or show.object.completeness == "Silver" or show.object.completeness == "Gold" %}
            <img
              style="height: 16px; position: absolute; right: 7px; top: 7px"
              class="square-audio-icon"
              src="{% static 'fonts/open-iconic/svg/volume-high.svg' %}"
              alt="this broadcast has audio available"
              title="this broadcast has audio available"
            />
          {% endif %}
      {% endif %}
      <a href="{% url 'broadcast' show.object.date|date:"Y" show.object.date|date:"m" show.object.date|date:"d" %}">
        <div class="square-content">
          <div class="square-table">
            <div class="square-table-cell">
              {{ show.object.date|date:"M j, Y" }}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  {% if forloop.counter|divisibleby:columns_per_row %}</div>
    <div class="row row-centered">{% endif %}
  {% if forloop.last %}</div>{% endif %}
{% endfor %}

{% include "pagination/pagination.html" %}
