{% extends "base.html" %}
{% block content %}
    <br>
    <form class="row form-inline center" role="search">
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-lg">Submit</button>
    </form>
    <br>
    <p class="center">[Search not yet functional]</p>

    <p>Example programs:</p>
    <ul>
        {% for show in object_list %}
            <li>{{ show.host.name }}: <a href="{% url 'sark_django.sark.views.program' show.date|date:"Y" show.date|date:"m" show.date|date:"d" %}">{{ show.date|date:"Y-m-d" }}</a></li>
        {% endfor %}
    </ul>
    <p>Hosts</p>
    <ul>
        {% for host in hosts %}
            <li>{{ host.dates_active }} - <a href="{% url 'sark_django.sark.views.agent' host.name %}">{{ host.name }}</a></li>
        {% endfor %}
    </ul>
    <p>Performers</p>
    <ul>
        {% for performer in performers %}
            <li><a href="{% url 'sark_django.sark.views.agent' performer.name %}">{{ performer.name }}</a></li>
        {% endfor %}
    </ul>
    <p>Locations</p>
    <ul>
        {% for location in locations %}
            <li><a href="{% url 'sark_django.sark.views.location' location.name location.country%}">{{ location.name }}, {{ location.country }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}