{% extends "base.html" %}
{% block content %}
    <br>
    <form class="form" role="search" method="get" action="/search">
        <div class="input-group">
            <input type="text" class="form-control input-lg" placeholder="What are you looking for?" name="q"  id="search">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-lg sark">Search</button>
            </span>
        </div>
    </form>
    <br>
    <hr>

    <p>Example programs:</p>
    <ul>
        {% for show in object_list %}
            <li>{{ show.host.name }}: <a href="{% url 'sark_django.sark.views.program' show.broadcast_date|date:"Y" show.broadcast_date|date:"m" show.broadcast_date|date:"d" %}">{{ show.broadcast_date|date:"Y-m-d" }}</a></li>
        {% endfor %}
    </ul>
    <p>Hosts</p>
    <ul>
        {% for host in hosts %}
            <li>{{ host.dates_active }} - <a href="{% url 'sark_django.sark.views.agent' host.name %}">{{ host.name }}</a></li>
        {% endfor %}
    </ul>
    <p>Performers</p>
    <ul>
        {% for performer in performers %}
            <li><a href="{% url 'sark_django.sark.views.agent' performer.name %}">{{ performer.name }}</a></li>
        {% endfor %}
    </ul>
    <p>Locations</p>
    <ul>
        {% for location in locations %}
            <li><a href="{% url 'sark_django.sark.views.location' location.name location.country%}">{{ location.name }}, {{ location.country }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}