{% load sark_extras %}

<div class="row">
  <h3 class="filters-header">Filters</h3>
    {% for facet_name, counts in facets.fields.items %}

      <div>
        {% if counts|length > 1 or facet_name in request.get_full_path %}
          <dl class="filter-block">

            <dt class="filter-header-{{ facet_name }} pad-h-2 expand" style="background-color: #eeeeee">
              {% if facet_name == "faceted_model_type" %}
                Type
              {% elif facet_name == "is_copyright_protected" %}
                Audio
              {% else %}
                {% if facet_name|slice:"-1" == "s" and facet_name|slice:"-2" != "ss" %}
                  {{ facet_name|capfirst|slice:":-1" }}
                {% else %}
                  {{ facet_name|capfirst }}
                {% endif %}
              {% endif %}
              <div class="toggle-{{ facet_name }} pull-right">-</div>
            </dt>

            <div class="hidable-filter hidable-filter-{{ facet_name }} pad-h-2">
              <div class="pad-t-1"></div>
              {% for count in counts|slice:':10' %}
                {% if count.1 > 0 %}
                  <dd>
                    <a href="{{ request.get_full_path }}{% if '?' in request.get_full_path %}&amp;{% else %}?{% endif %}selected_facets={{ facet_name }}_exact:{{ count.0 }}">
                      {% if facet_name == "completeness" %}
                        {{ count.0|completeness }}
                      {% elif facet_name == "is_copyright_protected" %}
                        {% if count.0 == "true" %}
                          Under copyright
                        {% else %}
                          Open access
                        {% endif %}
                      {% else %}
                        {{ count.0 }}
                      {% endif %}
                    </a>
                    <span class="pull-right">{{ count.1 }}</span>
                  </dd>
                {% endif %}
              {% endfor %}
              {% if counts|length > 10 %}<em class="expand toggle-more-{{ facet_name }} expand-more">more...</em>{% endif %}
              <div class="pad-b-4"></div>
            </div>

            {% if counts|length > 10 %}
              <div class="hidable-filter-more hidable-filter-{{ facet_name }}-more pad-h-2">
                {% for count in counts|slice:'10:' %}
                  {% if count.1 > 0 %}
                    <dd>
                      <a href="{{ request.get_full_path }}{% if '?' in request.get_full_path %}&amp;{% else %}?{% endif %}selected_facets={{ facet_name }}_exact:{{ count.0 }}">
                        {% if facet_name == "completeness" %}{{ count.0|completeness }}{% else %}{{ count.0 }}{% endif %}
                      </a>
                      <span class="pull-right">{{ count.1 }}</span>
                    </dd>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}

            {% if facet_name in request.get_full_path %}
              <dd><a href="?q={{ query }}"><em>remove all filters</em></a></dd>
            {% endif %}

          </dl>
        {% endif %}
      </div>
      <script>
        var $toggle{{ facet_name }} = $(".toggle-{{ facet_name }}");
        var $toggleMore{{ facet_name }} = $(".toggle-more-{{ facet_name }}");
        var $facetHeader{{ facet_name }} = $(".filter-header-{{ facet_name }}");

        $facetHeader{{ facet_name }}.click(function() {
            var currentText{{ facet_name }} = $toggle{{ facet_name }}.text();
            if (currentText{{ facet_name }} === "–") {
                $(".hidable-filter-{{ facet_name }}-more").hide(250);
                $toggleMore{{ facet_name }}.text("more...")
            }
            currentText{{ facet_name }} === "+" ? $toggle{{ facet_name }}.text("–") : $toggle{{ facet_name }}.text("+");
            $(".hidable-filter-{{ facet_name }}").toggle(250);
        });

        $toggleMore{{ facet_name }}.click(function() {
            var currentTextMore{{ facet_name }} = $toggleMore{{ facet_name }}.text();
            currentTextMore{{ facet_name }} === "more..." ? $toggleMore{{ facet_name }}.text("less...") : $toggleMore{{ facet_name }}.text("more...");
            $(".hidable-filter-{{ facet_name }}-more").toggle(250);
        })
      </script>
    {% endfor %}
</div>