<form class="form" role="search" action={% url "haystack_search" %}>
    <div class="input-group">
        <input class="form-control input-lg" placeholder="What are you looking for?" name="q" value="{{ query }}" id="search">
        <span class="input-group-btn">
            <button class="btn btn-lg sark">Search</button>
        </span>
    </div>
</form>