{% extends 'base.html' %}
{% load static %}

{% block content %}
{#    <a href="{{ request.get_full_path }}&amp;sort=date_asc">Date descending</a>#}
  <h1 class="site-description text-center">{{ paginator.count }} Results</h1>
  <hr>
  <div class="row">
      <div class="col-md-2 categories">
        {% include "search/search-sidebar.html" %}
      </div>

      <div class="col-md-10">
{#                <form class="pull-right" style="width:150px">#}
{#                    <select class="form-control" id="sort">#}
{#                        <option>Sort options</option>#}
{#                        <option>Recording date, newest first</option>#}
{#                        <option>Recording date, oldest first</option>#}
{#                        <option>Date added to site, newest first</option>#}
{#                        <option>Date added to site, oldest first</option>#}
{#                    </select>#}
{#                </form>#}
          {% include "home/contents-as-list.html" %}
      </div>
  </div>
{% endblock %}