p {
    font-size: 1.3em;
}

h1 {
    /*color: #efb858;*/
    font-family: "Crimson text", "serif";
}

h2 {
    font-family: "Crimson text", "serif";
}

h3 {
    font-family: "open sans", "sans-serif";
    font-size: 1.6em;
    font-weight: 300;
}

.script{
    font-family: "Courier New", "Courier", "serif";
    height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #f4f4f4;
    padding: 1em 1em 1em 1em;
    font-size: 1.2em;
}

.footer {
    font-size: 0.7em;
}

.faux-header {
    margin-top: 20px;
    padding-bottom: 100px;
}

.no-bullets {
    list-style-type:none;
}

.sark-examples {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
}

.row-centered {
    float: none;
    margin: 0 auto;
}

#search {
    width: 100%;
    display: inline;
}

.search_result {
    padding: 10px 10px 20px 10px;
}

.search_result:nth-child(even) {
    background: #f5f5f5;
}

.search-result-list {
    border-left: 1px solid #eee;
}

.sark {
    background-color: #efb858;
    color: white;
    /*font-weight: 300;*/
}

.sark:hover {
    background-color: #eaac5e;
    color: white;
    border-left: 0px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.sidebar-nav {
    font-weight: 300;
    margin-left: 8%;
    margin-top: 45px;
    z-index: 999;
    background-color: white;
    color: #787878;
}

.sidebar-nav > h3:hover {
    color: #efb858;
}

.sidebar-nav h3.active {
    color: #efb858;
}

.sidebar-nav.active {
    color: #efb858;
}

.sidebar-nav h3 a {
    color: inherit;
}
.sidebar-nav h3 a:hover {
    text-decoration: none;
}

.image {
    box-shadow: 1px 5px 10px #999999;
    width: 100%;
    max-width: 200px;
    height: auto;
}

.input-group > .form-control {
    border-right: 0px;
}

mark, .mark {
    background-color: rgba(239, 184, 88, 0.39);
}


form div input.search {
    width: 100%;
    display: inline;
}

body > .container {
  padding: 20px 15px 0;
}

li {
    font-size: 1.2em;
}

.navbar-brand{
    font-family: "Crimson text", "serif";
    color: #efb858;
    font-size: 2.0em;
}

.navbar {
    background-color: white;
}

.navbar-nav {
    font-size: 1.3em;
    font-weight: 300;
}

body {
    font-family: "Open sans", "sans-serif";
    min-height: 100%;
}

.center {
    float: none;
    margin: 0 auto;
    text-align: center;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #efb858;
}
.navbar-default .navbar-text {
    color: #787878;
}
.navbar-default .navbar-nav > li > a {
    color: #787878;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #efb858;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #efb858;
    background-color: #ffffff;

}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #efb858;
    background-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #efb858;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #efb858;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.navbar-default .navbar-link {
    color: #787878;
}
.navbar-default .navbar-link:hover {
    color: #efb858;
}

.navbar-collapse > ul > #selected > a {
    color: #efb858;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #787878;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #efb858;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #efb858;
        background-color: #ffffff;
    }
}
