body {
    font-family: "Open sans", "sans-serif";
    min-height: 100%;
    color: rgba(0, 0, 0, 0.8);
}

p {
    font-size: 1.4em;
}

h1 {
    /*color: #efb858;*/
    font-family: "Open sans", "serif";
    font-size: 2.2em;
    font-weight: 900;
}

h2 {
    font-family: "Crimson text", "serif";
    font-weight: 900;
}

h3 {
    font-family: "Open sans", "sans-serif";
    font-size: 1.6em;
    font-weight: 300;
}

mark, .mark {
    background-color: rgba(239, 184, 88, 0.39);
}

body > .container {
    padding: 0px 15px 0;
}

li {
    font-size: 1.2em;
}

.source-list {
    font-family: "Crimson text", "serif";
    font-weight: 100;
}

#MTiA-branding {
    color: #efb858;
}

.site-description {
    font-weight: 100;
}

.about-content p, p.about-content {
    font-family: "Crimson text", "serif";
    font-weight: 400;

    font-size: 1.5em;
}

.about-content ol {
    font-family: "Crimson text", "serif";
    font-size:1.2em;
    width: 87%;
    margin-left: 30px;
}

.about-content ul {
    font-size:0.8em;
}

.about-content h3 {
    font-weight: 600;
}

.about-content .sidebar-nav h3 {
    font-weight: 300;
}

p.img-caption {
    font-family: "Open sans", "sans-serif";
    font-size: 1.1em;
    font-weight: 100;

}

.recording-metadata p{
    font-size: 1.1em;
    margin: 0 0 2px
}

.description {
    color: #787878;
    font-weight: 300;
}

.sark {
    background-color: #efb858;
    color: white;
    /*font-weight: 300;*/
}

.sark:hover {
    background-color: #eaac5e;
    color: white;
    border-left: 0px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.script{
    font-family: "Courier New", "Courier", "serif";
    height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: rgba(244, 244, 244, 0.19);
    padding: 1em 1em 1em 1em;
    font-size: 1.2em;
}

.script p {
    padding-left: 70px;
    font-size: 1.2em;
    font-family: "Crimson text", "serif";
}

.script p:first-letter {
    margin-left: -70px;
}

.script a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #efb858;
    transition: color .1s ease-out;
    /* possibly throw a color transition in here */
}

.script a:hover {
    color: #efb858;
    text-decoration: none;
    border-bottom: 1px solid #efb858;
}

.footer {
    font-weight: 100;
    font-size: 0.7em;
    height: 70px;
}

.footer-content {
    display: inline-block;
}

.footer-item {
    display: inline-block;
}

.footer-img {
    margin-top: 18px;
    max-height: 30px;
    opacity: .8;
}

.footer-img:hover {
    opacity: 1;
}

.faux-header {
    margin-top: 20px;
    padding-bottom: 100px;
}

.no-bullets {
    list-style-type:none;
}

.sark-examples {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
}

.row-centered {
    float: none;
    margin: 0 auto;
}


/* custom table styling */

th {
    background-color: #efb858;
    border-color: #efb858;
    font-size: 1.2em;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

.panel-default {
    border: 0px solid #efb858;
}

.table>thead>tr>th {
    border-bottom: 0px solid #ddd;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 0px solid #ddd;
}

/* Performance list (field recording view) */

.performance-list-item {
    height: 75px;
    background-color: rgba(16, 25, 255, 0.01);
    font-weight: 300;
}

.performance-list-item-title {
    padding-left:10px;
}

.performance-list-item-performer {
    padding-left:10px;
}

.performance-list-play {
    position: relative;
    width:75px;
    height: 75px;
    background-color: rgba(239, 184, 88, 0.31);
}

.performance-list-play:hover {
    background-color: rgba(239, 184, 88, 0.85);
}

.play-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 1;
}

/* Search and search-bar styling */

form div input.search {
    width: 100%;
    display: inline;
}

#noresults {
    color: black;
}

#search {
    width: 100%;
    display: inline;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#search:focus {
    border-color: rgba(239, 184, 88, 0.56);
}

#search-navbar {
    margin-top: 3px;
    margin-left: 12px;
    border: none;
    height: 3rem;
    border-radius: 3rem;
    width: 100%;
    padding: 1rem 1.5rem;
    text-indent: 1.6rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background .2s ease-out, width .2s ease-out, color .2s ease-out;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color:white;
}

#search-navbar::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
    transition: color .2s ease-out;
}
#search-navbar:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
    transition: color .2s ease-out;
}
#search-navbar::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
    transition: color .2s ease-out;
}
#search-navbar:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
    transition: color .2s ease-out;
}

#search-navbar:focus::-webkit-input-placeholder, #search-navbar:hover::-webkit-input-placeholder { /* WebKit browsers */
    color: #929292;
}
#search-navbar:focus:-moz-placeholder, #search-navbar:hover:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #929292;
}
#search-navbar:focus::-moz-placeholder, #search-navbar:hover::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #929292;
}
#search-navbar:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #929292;
}

#search-navbar:hover, #search-navbar:focus {
    color: black;
    background-color: whitesmoke;
}

#search-navbar:focus {
    color: black;
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: text;
}

.search-icon {
    position:absolute;
    z-index: 999;
    margin:.8rem 1.9rem;
    color: #787878;
    font-size: 1.3em;
    left:0

}

.search_result {
    padding: 20px 20px 20px 10px;
    border-bottom: 1px solid #eee;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

.search_result:hover {
    background-color: #fbfbfb;
}

/*.search_result:nth-child(even) {*/
/*background: #f5f5f5;*/
/*}*/

.search-result-list {
    border-left: 1px solid #eee;
}

.search-header {
    font-size: 1.5em;
    color: #5d5d5d;
    font-family: 'Crimson text', 'serif';
    padding: 0 10px 2px 0;
    margin: 0;
    font-weight: 600;
}

.search-description {
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.68);
}

.search-script {
    margin-left: 15px;
}

.search-image-well {
    min-height: 20px;
    padding: 15px;
    margin-left: 15px;
    background-color: #e6e6e6;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.search-result-image {
    box-shadow: 1px 5px 10px #999999;
    max-height: 135px;
    max-width: 135px;
    /*margin: 5px;*/
}

.search-result-image-figure {
    max-height: 135px;
    max-width: 135px;
    display: inline-block;
    margin: 5px;
    margin-right: 15px;
}

#searchbar {
    border-right: 0px;
}

.highlighted {
    color: #e18948;
    background-color: rgba(225, 137, 72, 0.04);
    font-weight: 600;
}


/* sidebar styling */

.sidebar-nav {
    font-weight: 300;
    margin-left: 8%;
    margin-top: 45px;
    z-index: 999;
    background-color: white;
    color: #787878;
}

.sidebar-nav > h3:hover {
    color: #efb858;
}

.sidebar-nav h3.active {
    color: #efb858;
}

.sidebar-nav.active {
    color: #efb858;
}

.sidebar-nav h3 a {
    color: inherit;
}
.sidebar-nav h3 a:hover {
    text-decoration: none;
}



.field-recording-image {
    box-shadow: 1px 2px 5px #999999;
    max-height: 150px;
    max-width: 150px;
    /*margin: 5px;*/
}

.field-recording-image-figure {
    display: inline-block;
    margin: 5px;
    margin-right: 15px;
}

/* Utility */

.image {
    /*box-shadow: 1px 5px 8px #999999;*/
    max-width: 160px;
    max-height: 160px;
}

.tableauPlaceholder {
    width: 100%
}

.vertical-center {
    vertical-align: middle;
}

.user-profile-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: no-repeat center center;
    background-size: cover;
    /*padding-right: 100px*/
}

.pad-top {
    padding-top: 15px;
}

.center {
    float: none;
    margin: 0 auto;
    text-align: center;
}


/* Navbar overrides */

.navbar {
    background-color: white;
}

.navbar-brand{
    font-family: "Crimson text", "serif";
    color: #efb858;
    font-size: 2.0em;
}

.navbar-nav {
    font-size: 1.3em;
    font-weight: 300;
    font-family: "Open sans", "sans-serif";
    padding-top:1px;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #efb858;
}
.navbar-default .navbar-text {
    color: #787878;
}
.navbar-default .navbar-nav > li > a {
    color: #787878;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #efb858;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #efb858;
    background-color: #ffffff;

}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #efb858;
    background-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #efb858;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #efb858;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.navbar-default .navbar-link {
    color: #787878;
}
.navbar-default .navbar-link:hover {
    color: #efb858;
}

.navbar-collapse > ul > #selected > a {
    color: #efb858;
}

@media (min-width: 768px) and (max-width: 1000px) {
    .navbar-collapse .collapse {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #787878;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #efb858;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #efb858;
        background-color: #ffffff;
    }
}
